.section_home{
    background-color: #1F363D;
    background: url('../../../images/bg_main_home.jpeg')  #1f363dd2;
    background-blend-mode: darken;
    background-size: cover;
    min-block-size: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.maincont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 30% 0;
}
.section_home img {
    inline-size: 60%;
}
.section_home h1 {
    color: #EDEBA0;
    font-size: 3.2rem;
}

.section_home p {
    color: #4DD3CB;
    font-size: 1.2rem;
}

.div_btns{
    margin-block-start: 3.2rem;
    inline-size: 100%;
    display: flex;
    justify-content: center;
    column-gap: 10%;
    font-size: 1.2rem;
}


.btn_one{
    background-color: #4DD3CB;
    padding: 0.2rem 1.8rem;
    border: 2px solid #4DD3CB;
    transition: all 0.5s;
    color: #1F363D;
}
.btn_one:hover{
    background-color: transparent;
    color: #4DD3CB;
}
.btn_two{
    color: #1F363D;
    background-color: #EDEBA0;
    padding: 0.2rem 1.8rem;
    border: 2px solid #EDEBA0;
    transition: all 0.5s;
}

.btn_two:hover{
    background-color: transparent;
    color: #EDEBA0;
}

.footer_home span{
    font-size: 3.2rem;
    color: #4dd3ca98;
    position: relative;
    animation: moveUpDown 0.8s infinite alternate;
    z-index: 0;
}

@keyframes moveUpDown {
    0% {
        inset-block-start: 0;
    }
    100% {
        inset-block-start: -1.6rem;
    }
}