.footer {
    color: var(--st-color-89);
    background-color: var(--nd-color);
    display: flex;
    flex-direction: column;
    min-block-size: 25vh;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0 1rem 0;
}

.st{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.st i {
    color: var(--st-color);
    font-size: 1.6rem;
}