.main_section{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 80px;
    width: 100%;
}

.main_section h2{
    text-align: center;
}

.div_cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    column-gap: 2vw;
    padding: 2vw 0 2vw 1.5vw;
    row-gap: 2vw;
}
