.main_section{
    /* background-color: #142226; */
    background-color: #4dd3ca13;
    block-size: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div_text_one {
    text-align: center;
    color: #1f363d;
    margin-bottom: 2rem;
}

.form_contact{
    background-color: #4dd3ca10;
    padding: 1rem;
    border-radius: 0.8rem;
    inline-size: 80vw;
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    border: 3px solid #4dd3cb;
}

.my_input{
    display: flex;
    flex-direction: column;
}

.my_input label {
   color: #1f363d; 
}

.my_input input {
    background-color:transparent;
    outline: none;
    border: 2px solid #4dd3cb;
    block-size: 2.9rem;
    border-radius: 0.4rem;
    padding: 0.8rem;
    color: #1f363d;
    font-weight: bold;
}

.btn_form{
    background-color: #4dd3cb;
    inline-size: 100%;
    border: 2px solid #4dd3cb;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 0.4rem;
    font-weight: 600;
    color: #fff;
    letter-spacing: 2px;
    transition: all 0.5s;
}

.btn_form:hover{
    background-color: #4dd3caa8;
    color: #1f363d;
    letter-spacing: 4px;
}
