@keyframes shakePottery {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-35deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(35deg);
    }
}


.error_section {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error_section i {
    font-size: 2rem;
    color:var(--st-color);
    cursor: pointer;
    animation: shakePottery 0.3s linear 0.5s 4 ;
}

.error_section i:hover{
    animation: shakePottery linear infinite 0.3s;
}


.error_section p {
    color: #888787;
    margin: 1rem 0 2rem 0;
}

.btn_back{
    background-color: var(--st-color);
    color: white;
    padding: 0.5rem 3rem;
    border: 2px solid var(--st-color);
    border-radius: 0.5rem;
    letter-spacing: 0;
    font-weight: bold;
    transition: all 0.3s;
}

.btn_back:hover{
    background-color: var(--st-color-36);
    color: var(--st-color);
    letter-spacing: 2px;
}