.card{
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 50vw;
    padding: 1rem;
    border: 0.2rem solid #4DD3CB;
    background-color: #b7e4f041;
    border-radius: 0.8rem;
    justify-content: space-between;
    transition: all 0.3s;
    cursor: pointer;
}

.card:hover{
    background-color: #4dd3ca57;
}

.div_img {
    display: flex;
    width: 24vw;
    height: 24vw;
    flex-direction: column;
    align-self: center;
}

.div_loading {
    display: flex;
    background-color: #4dd3ca5b;
    height: 24vw;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
}


.div_img img{
    width: 100%;
    border-radius: 0.5rem;
}

.div_txt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-width: 24vw;
    align-self: center;
}

.div_txt h3 {
    font-size: 1rem;
    max-width: 99%;
    color: #2a4f5a;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap: break-word;
}

.div_txt p{
    font-size: 0.8rem;
    font-weight: bold;
    color: #4DD3CB;
}
