.main_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--light-bg-color);
}

.textinput label{
    font-weight: bold;
    color: var(--nd-color)
}

.textinput input{
    border: 2px solid var(--nd-color);
    background-color: #b7e9f5;
}